# Data Explorations
## MSc Advanced Analytics Dissertation

Here we are looking at taking our sample of the amazon reviews dataset and exploring it. We divide the section into two parts. 

1. A quick overview of the data - shape, size, features etc.
2. A more detailed look at the data - distributions, correlations etc.


We have our dataset `All_Data.csv` which shall be loaded.

In [1]:
import pandas as pd

In [3]:
# load data
data = pd.read_csv('All_Data.csv', low_memory=False)

(613152, 14)

In [10]:
# shape of data
print("Shape of Data:", data.shape, '\n')

# data types
print(data.dtypes, '\n')

# unique categories
print("Number Unique Categories:", data.category.nunique())

# show unique categories
data.category.unique()

Shape of Data: (613152, 14)

Unnamed: 0          int64
overall           float64
verified             bool
reviewTime         object
reviewerID         object
asin               object
reviewerName       object
reviewText         object
summary            object
unixReviewTime      int64
category           object
style              object
vote               object
image              object
dtype: object

Number Unique Categories: 18

array(['arts_crafts_and_sewing', 'automotive', 'cds_and_vinyl',
       'cell_phones_and_accessories', 'home_and_kitchen',
       'musical_instruments', 'office_products',
       'tools_and_home_improvement', 'toys_and_games', 'video_games',
       'beauty', 'fashion', 'appliances', 'gift_cards', 'industrial',
       'luxury_beauty', 'magazine_subscriptions', 'software'],
      dtype=object)

In [15]:
# change dtypes for columns: vote, if NaN then change to 0. Remove "," and change to int
data['vote'] = data['vote'].str.replace(',', '')
data['vote'] = data['vote'].fillna(0).astype(int)

In [17]:
data.head()

,Unnamed: 0,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,category,style,vote,image
0,0,5.0,True,"12 12, 2014",ASECKSPMIO3E4,B00FARV8NG,Crystal,Thanks.,Five Stars,1418342400,arts_crafts_and_sewing,NaN,0,NaN
1,1,5.0,True,"02 22, 2015",A30QCTR82XLPX,B001CE5DOQ,Mijaney,"Great blades, good price!",Excellent product!,1424563200,arts_crafts_and_sewing,NaN,0,NaN
2,2,5.0,True,"07 14, 2015",A1CLLZFI30GVWA,B00DV69LO6,Yuchu,Good.,Five Stars,1436832000,arts_crafts_and_sewing,{'Size:': ' 1 Pack'},0,NaN
3,3,5.0,True,"12 18, 2014",A2215I936C4PLG,B004JE3A7S,RedPandaDuck,Product is perfect!,Five Stars,1418860800,arts_crafts_and_sewing,NaN,0,NaN
4,4,5.0,True,"01 13, 2015",A2ZY9VWY1KCS55,B001BF3IM0,Deborah Carter,works great,Five Stars,1421107200,arts_crafts_and_sewing,"{'Size:': ' 6 Cans', 'Color:': ' Midnight Black'}",0,NaN

In [18]:
# trim data 
data = data[[ 'reviewerID', 'reviewerName', 'asin', 'reviewText', 'overall', 'vote', 'category']]

# see new data
data.head()

,reviewerID,reviewerName,asin,reviewText,overall,vote,category
0,ASECKSPMIO3E4,Crystal,B00FARV8NG,Thanks.,5.0,0,arts_crafts_and_sewing
1,A30QCTR82XLPX,Mijaney,B001CE5DOQ,"Great blades, good price!",5.0,0,arts_crafts_and_sewing
2,A1CLLZFI30GVWA,Yuchu,B00DV69LO6,Good.,5.0,0,arts_crafts_and_sewing
3,A2215I936C4PLG,RedPandaDuck,B004JE3A7S,Product is perfect!,5.0,0,arts_crafts_and_sewing
4,A2ZY9VWY1KCS55,Deborah Carter,B001BF3IM0,works great,5.0,0,arts_crafts_and_sewing